// .day {
//     display: flex;
//     justify-content: center; 
// }

.day {
    width: 14.28%;
    text-align: center;
    position: relative;
}

.holiday {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.05);
    // border-radius: 100%;
}

.day div {
    padding: 0.75rem 0;
}

.hover div {
    // background: rgba(60, 180, 255, 0.75);
    // color: white
}

.hover .disabled_day {
    // color: inherit;
}

.available_day {
    // background: white;
}

.disabled_day {
    // background: rgba(0,0,0,0.25);
}
