// .day {
//     display: flex;
//     justify-content: center; 
// }

.day {
    width: 14.28%;
    padding: 0.75rem 0;
    box-sizing: border-box;
    text-align: center
}

.available_day {
    // background: white;
}

.disabled_day {
    background: gray;
}