.day {
  width: 14.28%;
  box-sizing: border-box;
  text-align: center; }

.day div {
  padding: 0.75rem 0; }

.available_day {
  background: white; }

.available_day:hover {
  background: blue; }

.disabled_day {
  background: gray; }

.holiday {
  background: lightblue; }

.holiday:hover {
  background: blue; }
