// .day {
//     display: flex;
//     justify-content: center; 
// }

.day {
    width: 14.28%;
    text-align: center;
    position: relative;
    overflow: visible;
}

.holiday {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.05);
    overflow: visible;
    // border-radius: 100%;
}

.holiday-description {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 4;
}
.holiday:hover .holiday-description {
    display: block;
}

.day > div {
    padding: 0.75rem 0;
}

.hover div {
    // background: rgba(60, 180, 255, 0.75);
    // color: white
}

.hover .disabled_day {
    // color: inherit;
}

.available_day {
    // background: white;
}

.disabled_day {
    // background: rgba(0,0,0,0.25);
}
