.day {
  width: 14.28%;
  text-align: center;
  position: relative;
  overflow: visible; }

.holiday {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  overflow: visible; }

.holiday-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.25rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.holiday:hover .holiday-description {
  display: block; }

.day > div {
  padding: 0.75rem 0; }
