
@import url('https://fonts.googleapis.com/css?family=Roboto');

.Year {
    font-family: Roboto;
    margin-top: 1rem;
}

.year-header {
    background: rgba(0, 80, 200, 1);
    padding: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem
}

.year-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

