@import url('https://fonts.googleapis.com/css?family=Roboto');

.App{
    width: 100vw;
    background: #EEEEEE;
    overflow: hidden;
    
}
.content{
    display: flex;
    
}

.calendar-container{
    font-family: Roboto;
    width: 80vw;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #304460;
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem
}

#next-year {
    cursor: pointer;
}

#prev-year {
    cursor: pointer;
}

div.circle-picker{
    justify-content: center !important;
    align-items: center !important;
    width: calc(100vw - 4rem) !important;
    margin: calc(1rem + 14px) 2rem 0 !important;
    // width: 80vw !important;
}

#shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(233, 233, 233);
    padding: 1.5rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
  
    #modal-header{
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }

    #modal-subheader{
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    #button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        #cancel{
            width: 5rem;
            height: 2rem;
            font-size: 1rem;
            border-radius: 5px;
            margin-right: 5rem;
            background: white;
            border: 1px solid red;
        }
        #cancel:hover{
            color: white;
            background: rgb(255, 89, 89);
            border: 1px solid white; 
            transition: .2s; 
               
        }
    
        #select{
            width: 5rem;
            height: 2rem;
            font-size: 1rem;
            border-radius: 5px;
            margin-left: 5rem;  
            background: white;
            border: 1px solid rgba(60, 180, 255, 1);
        }
        #select:hover{
            color: white;
            background: rgba(60, 180, 255, 1);
            border: 1px solid white;   
            transition: .2s; 
        }
    }


}
