@import url("https://fonts.googleapis.com/css?family=Roboto");
.App {
  font-family: Roboto;
  background: #EEEEEE; }

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #304460;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem; }

#next-year {
  cursor: pointer; }

#prev-year {
  cursor: pointer; }

div.circle-picker {
  justify-content: center !important;
  align-items: center !important;
  width: calc(100vw - 4rem) !important;
  margin: calc(1rem + 14px) 2rem 0 !important; }

#shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center; }

#modal {
  padding: 2rem 4rem;
  background: #DDD; }
