@import url('https://fonts.googleapis.com/css?family=Roboto');

.App{
    font-family: Roboto;
    background: #EEEEEE;
}

.calendar-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   background: rgba(0, 80, 200, 1);
   padding: 1.5rem 2rem;
   text-align: center;
   font-size: 2.5rem;
   color: white;
   margin-bottom: 1rem
}

#next-year {
    cursor: pointer;
}

#prev-year {
    cursor: pointer;
}